# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
pubspec.lock

# Android
android/local.properties
android/.gradle/
android/app/debug/
android/app/profile/
android/app/release/
android/key.properties
*.jks

# iOS
ios/.symlinks/
ios/Flutter/flutter_export_environment.sh
ios/Flutter/Generated.xcconfig
ios/Pods/
ios/.generated/
ios/Flutter/App.framework/
ios/Flutter/Flutter.framework/
ios/Flutter/Flutter.podspec
ios/Flutter/engine.zip
ios/**/*.mode1v3
ios/**/*.mode2v3
ios/**/*.moved-to-trash
ios/**/*.pbxuser
ios/**/*.perspectivev3
ios/**/*.xccheckout
ios/**/*.xcscmblueprint
ios/Flutter/flutter_assets/

# macOS
macos/Flutter/GeneratedPluginRegistrant.swift
macos/Flutter/flutter_export_environment.sh
macos/Flutter/Generated.xcconfig

# Misc
*.pyc
__pycache__/
.env
.DS_Store
*.log
coverage/
.coverage
